extends ../layouts/default
include ../mixins/project_mixins
include ../mixins/default_mixins

block intro
	+mobile_nav

block content
	section.home-page
		aside
			+home_nav
		.intro
			h2 A copywriter, I am not; writing about myself is even harder. In this space I will do my best to give you an idea of who I am and try not to bore you in the process. First off if you didn't notice on your way here my name is <strong>Shaw</strong>. 

			h2 Long story short I like to build <strong>websites</strong>. I consider myself a <strong>Front-End Developer</strong>. The current job landscape has a lot of names for that kind of role. So to break it down a little, I know <strong>JavaScript</strong>, <strong>CSS</strong> and <strong>HTML</strong> [I can also sprinkle in a little <strong>PHP</strong> here and there to add a little spice to life]. 

			h2 In the world of JavaScript there is this term of 'tool fatigue', what I think this translates to is the ability to <strong>learn on the go</strong> is one of the most important skills a developer can have. The correct tool will change from project to project so the best developers are the ones that can adapt. I may not be the expert React, Angular or theFlavorOfTheWeek_js_framework_library developer but I will <strong>love learning</strong> all I can while I build a <strong>kickass web app</strong> with it.

			h2 While not building the next world changing application [slight sarcasm with 'world changing'], I like to be outside in the mountains drinking coffee, craft beer and listening to live music [sometimes all at the same time, sometimes each on their own].
