extends ../layouts/default
include ../mixins/project_mixins
include ../mixins/default_mixins

block content
	section.home-page
		aside
			+home_nav
		.intro
			h2 My name is <strong>Shaw Gravitt</strong>. I am a passionate user of <strong>Javascript</strong>, <strong>CSS</strong> &amp; <strong>HTML</strong> to build <strong>responsive websites</strong> &amp; <strong>web apps</strong>. This makes me a driven Front-End Developer, Front-End Engineer, Presentation Layer Engineer, UI-developer, or whatever else you want to call this set of skills.

			h2 I am currently based in <strong>Atlanta</strong> and available for freelance work.
