//- ================Navigation for all mobile pages =================

mixin mobile_nav
	.home-nav.mobile: header
		nav
			ul
				li: a.hvr-underline-from-center(href='/work') Work
				li: a.hvr-underline-from-center(href='/contact') Contact

//- ================Navigation for home/landing page =================

mixin home_nav
	.home-nav: header
		nav
			ul
				li: a.hvr-underline-from-center(href='/work') Work
				li: a.hvr-underline-from-center(href='/contact') Contact
	+contact_links

//- ================Navigation for work page =================
mixin work_nav 
	header.nav
		nav
			ul
				li.home-page-link: a(href='/') About
				li.contact-page-link: a(href='/contact') Contact

//- ================Navigation for project page =================
mixin project_nav 
	header.nav
		nav
			ul
				li.back-link: a(href='/work') &larr; back to my work
				li.home-page-link: a(href='/') About
				li.contact-page-link: a(href='/contact') Contact

//- ================Navigation for contact page =================
mixin contact_nav 
	header.nav
		nav
			ul
				li.home-page-link: a(href='/') About
				li.contact-page-link: a(href='/work') Work

//- ================Footer Contact Links =================

mixin contact_links
	ul.contact-links
		li.email
			span.icon-mail
			a(href="/contact")
			span.visually-hidden Email
		li.linkedin
			span.icon-linkedin
			a(href="https://www.linkedin.com/in/shawgravitt" target='_blank')
			span.visually-hidden LinkedIn
		li.github
			span.icon-github
			a(href="https://github.com/shawgravitt" target='_blank')
			span.visually-hidden Github
		li.resume
			span.icon-resume
			a(href="/Shaw_Gravitt_resume.pdf" target='_blank')
			span.visually-hidden Resume