.home-page {
	min-height: 100vh; 
	@include flexbox();
	justify-content: flex-start;
	@include breakpoint ($small) { 
		-webkit-flex-direction: column; 
		-ms-flex-direction: column; 
		flex-direction: column; 
	}
	.intro {
		padding: 0 25px; 
		margin-top: 80px;
		width: 75%; 
		h2 {
			margin-top: 0;
			line-height: 1.6;
		}
		@include breakpoint ($medium) {
			width: 100%; 
			margin-top: 25px;
		}
		@include breakpoint ($small) {
			width: 100%;
		}
		
	}
	aside {
		position: relative;
		text-align: center;
		border-left: 3px solid $black;
		width: 25%; 
		@include order(2);
		.contact-links {
			position: absolute;
			bottom: 0; 
			border-top: none;
			width: 100%; 
			li {
				display: inline-block;
				color: $black; 
				margin: 0;
			}
			@include breakpoint ($small) {
				position: relative;
			}
		}
		@include breakpoint ($medium) {
			width: 33%;
		}
		@include breakpoint ($small) {
			width: 100%;
			border-left: none; 
		}
	}
	.home-nav {
		ul {
			text-align: center;
			padding: 0;
		}
		li {
			margin: 100px auto;
			@include font-size(30px);
			display: block;
			text-transform: uppercase;
			text-align: center;
			@include breakpoint ($medium) {
				margin: 50px auto;
			}
			@include breakpoint ($small) {
				margin: 25px auto;
			}
			
		}
		a {
			color: $black;
			text-decoration: none;
		}
	}
}

.home-footer {
	footer {
		border: none; 
	}
}
